---
import BaseHead from '../../components/BaseHead.astro';
import Footer   from '../../components/Footer.astro';
import Header   from '../../components/Header.astro';
import Home3o   from '../../components/Home3o.astro';

import { getCollection, render } from 'astro:content';
const post = Astro.props;
const { Content } = await render(post);

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={post.data.title} description={post.data.description} />
	</head>
	<body class="bg-gray-900 text-gray-100">
		<Header />
        <main>
            <div class="mx-auto max-w-3xl xl:max-w-5xl bg-gray-300">
                <div style="background-image: url(/imgs/list/bg-posts.webp)" class="p-5 aspect-3/1 bg-center bg-cover font-bold text-3xl flex justify-center items-center text-center">
                    <h1>{post.data.title}</h1>
                </div>
                <div class="prose max-w-none marker:text-gray-900 p-5">
                    <Content />
                </div>
            </div>
        </main>
        <Home3o />
		<Footer />
	</body>
</html>
