---
import BaseHead   from '../components/BaseHead.astro';
import Footer     from '../components/Footer.astro';
import Header     from '../components/Header.astro';
import Home3o     from '../components/Home3o.astro';
import HomeBanner from '../components/HomeBanner.astro';
import HomeStocks from '../components/HomeStocks.astro';
import ListPosts  from '../components/ListPosts.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';

const json_ld = [{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        { "@type": "ListItem", "position": 1, "name": "Home" },
    ]
},{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
        "@type": "Question",
        "name": "Что такое спотовый крипто бот?",
        "acceptedAnswer": { "@type": "Answer", "text": "Спотовый крипто бот — это автоматизированное программное обеспечение, которое торгует криптовалютами на спотовом рынке (то есть, совершает реальную покупку и продажу активов) от вашего имени. Он работает круглосуточно, 7 дней в неделю, выполняя сделки на основе заранее заданных параметров и торговой стратегии, направленной на получение прибыли от ценовых колебаний." }
    },{
        "@type": "Question",
        "name": "Как работает спотовый бот?",
        "acceptedAnswer": { "@type": "Answer", "text": "Спотовый бот подключается к вашей учетной записи на криптовалютной бирже через API-ключи. Эти ключи позволяют боту отправлять и получать информацию, а также выполнять торговые операции (покупка/продажа) от вашего имени. Бот постоянно мониторит рынок и, когда условия соответствуют вашей стратегии, автоматически размещает ордера на покупку или продажу." }
    },{
        "@type": "Question",
        "name": "Гарантирует ли спотовый бот прибыль?",
        "acceptedAnswer": { "@type": "Answer", "text": "Нет, абсолютно не гарантирует. Спотовый бот — это всего лишь инструмент. Успех зависит от многих факторов: выбранной стратегии, рыночных условий, правильности настроек и управления рисками. Можно потерять деньги, используя бота, особенно на волатильном или падающем рынке, или с неправильными настройками." }
    },{
        "@type": "Question",
        "name": "Насколько безопасно использовать спотового бота?",
        "acceptedAnswer": { "@type": "Answer", "text": "Безопасность зависит от платформы бота и ваших личных мер предосторожности. Используйте только проверенные и репутабельные платформы для ботов. Всегда создавайте API-ключи с ограниченными разрешениями (только торговля, без возможности вывода средств). Включите двухфакторную аутентификацию (2FA) на бирже и, если возможно, на платформе бота. Будьте осторожны с фишинговыми атаками и не делитесь своими данными." }
    }]
}];

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const style_mark = { style: 'font-weight: 600;', class: 'text-green-500' };
---

<!doctype html>
<html lang="ru">
	<head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script type="application/ld+json" set:html={JSON.stringify(json_ld)} />
	</head>
	<body class="bg-gray-900 text-gray-100">
		<Header />
        <HomeBanner />
        <HomeStocks />
        <main>

            <div class="container mx-auto p-10">
                <div class="prose max-w-none text-gray-100 marker:text-green-500 text-justify">
                    <h2 style="font-weight: 800" class="text-center text-gray-100">
                        <span class="text-green-500">Craft Trade</span> – платформа для создания торговых стратегий
                    </h2>
                    <p>Наши преимущества:</p>
                    <ul>
                        <li>Простота настройки и запуска торговли (<span {...style_mark}>MiniApp Telegram</span>)</li>
                        <li>Прозрачные условия</li>
                        <li>Самые низкие комиссии среди конкурентов, <span {...style_mark}>всего 6% от прибыли</span>, годовая подписка <span {...style_mark}>всего $60</span></li>
                    </ul>
                    <p>Торговый робот <span {...style_mark}>Craft Trade</span> был спроектирован и создан как не коммерческий продукт <span {...style_mark}>для собственного использования</span> в качестве инструмента позволяющего автоматизировать спотовую торговлю основной криптовалютой (Bitcoin, Etherium, XRP, LITE COIN, DOGE) на самых популярных биржах.</p>
                    <p>В апреле 2025 года завершился этап тестирования, и мы приступили к полноценной работе с собственным продуктом.</p>
                    <p>За 6 месяцев мы добились <span {...style_mark}>серьёзного прогресса</span> по части улучшения функционала приложения и повышения стабильности работы.</p>
                    <p>В настоящее время мы уверенно смотрим в будущее и с гордость сообщаем, что Craft trade это:</p>
                    <ul>
                        <li><span {...style_mark}>Интеграция</span> с крупнейшими биржами (BingX, ByBit, OKX)</li>
                        <li><span {...style_mark}>Стабильность</span> работы приложения (uptime 99%)</li>
                        <li><span {...style_mark}>Максимальное количество</span> поддерживаемых монет</li>
                        <li><span {...style_mark}>Возможность копировать</span> торговые стратегии других пользователетй Craft Trade</li>
                    </ul>
                    <!-- <p {...style_mark}>"Автоматизируй свой успех"</p> -->
                </div>
            </div>

            <ListPosts posts={posts} level={2} title="Последние статьи" />
        </main>
        <Home3o />
		<Footer />
	</body>
</html>
