---
---

<div class="container mx-auto p-10">
    <div class="text-2xl font-bold text-center">Поддерживаемые биржи</div>
    <div class="text-center text-gray-500 pt-10">Возможность управления всеми своими биржевыми аккаунтами с одной платформы</div>
    <div class="flex gap-10 py-5 justify-center flex-wrap">
        <img src="/imgs/home/stocks/okx.png"   alt="okx"   class="w-32 h-20 object-cover" />
        <img src="/imgs/home/stocks/bingx.png" alt="bingx" class="w-32 h-20 object-cover" />
        <img src="/imgs/home/stocks/bybit.png" alt="bybit" class="w-32 h-20 object-cover" />
    </div>
    <div class="text-center text-gray-500 xl:w-2/3 mx-auto">
        Мы постоянно расширяем партнерскую сеть, чтобы у наших пользователей было больше индивидуальных и удобных возможностей.
        Ваша биржа - это место, где находятся ваши средства.
    </div>
</div>
